<h1>Task:<%= @task.title %></h1>
<div>
  <h3>Details: <%= @task.details %></h3>
  <h4>Completed:<%=@task.completed  %></h4>
  <%= link_to "Edit Task", edit_task_path,class:"btn btn-primary m-0"  %>
</div>
